body{
    background-color:lightyellow;
}

.btn{
background-color: goldenrod ;
border: none;
box-shadow: 2px 2px 7px 1px black;
}

.btn:hover{
    background-color: darkgoldenrod;
}

.card{
    background-color: lightgray;
}
.card-text{
    background-color: lightgray;
}

#menu-card{
    height: 400px;
}